h1 { 
    color: #0000ff;
    margin: 30;
}

.grid{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

a:link {
    color: #ffffff;
}

a:visited{
    color: #ffffff
}

body {
    background-color: #19b5fe;
}

.menu a{
    margin-left: 20px
}

.header {
    background-color: #00ffff;
    display: flex;
    justify-content: space-evenly;
}

.item {
    background-color: #ffa500;
    display: flex;
    justify-content: space-evenly;
    text-align: "center";
    position: relative;
}

.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.item:hover p{
    opacity:0.1;
}
.item:hover img{
    opacity:0.5;
}


/*
.item2 {
    background-color:#ff0000;
    display: flex;
    justify-content: space-evenly;
    text-align: "center";
}

.item3 {
    background-color:#ae00ff;
    display: flex;
    justify-content: space-evenly;
    text-align: "center";
}

.item4 {
    background-color:#0000ff;
    display: flex;
    justify-content: space-evenly;
    text-align: "center";
}
*/
.footer {
    background-color:#00ff00;
    display: flex;
    justify-content: flex-end;
    text-align: "center";
}


